.social .fab{
    margin-right: 7px;
    font-size: 28px;
     color: rgb(10, 92, 199);

}

.social{
 margin-left: 40%!important;
}

 

.title1{
    font-family: 'Boogaloo', cursive;
    color: rgb(74, 75, 75);
    padding-top: 10%;
    font-size: 80px;
 }
  

 .parallax h2{
    font-family: 'Boogaloo', cursive;

     color: rgb(74, 75, 75);
     font-size: 30px;
 }
 


 

 