.nav{
    font-family: 'Boogaloo', cursive;
    font-size: 22px;
  z-index: 999; 
}
 
.central-content {
    justify-content: center;
     margin: auto;
  } 

.nav .nav-link{
    color: rgb(54, 54, 54);
}

.nav .nav-link:hover{
    color: rgb(10, 92, 199);
}

 